.table {
  width: 100%;
  border-collapse: collapse;
}

.table td {
  text-align: center;
  padding: 10px;
}

.thead {
  background-color: lightblue;
}
.thead th {
  text-align: center;
  padding: 10px;
}
.tbody tr:nth-child(odd) {
  background-color: grey;
}

.tbody tr:nth-child(even) {
  background-color: lightgrey;
}
